body {
    margin: 0;
    padding-top: 800px;
    text-align: center
}

.profile {
    width: 170px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

#s1 {
    position: absolute;
    color: #FFFFFF;
    left: 0;
    top: 0;

    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#b5f20d 30%, #27ae60 70%);
    display: table;
    width: 100%;
    height: 800px;
    z-index: 9;
}

html {
    scroll-behavior: smooth;
}

.d1 {
    display: table-cell;
    text-align: center;
    position: relative;
    vertical-align: middle;

}

h1 {
    font-size: 50px;
    font-family: fantasy;
    font-weight: 400;
}

h2 {
    font-size: 35px;
    font-family: monospace;
    font-weight: 300;
}

#name {
    font-size: 29px;
    font-family: 'Tiro Tamil', serif;
    font-weight: 200;
}

#s2 {
    text-align: center
}

.menu {
    list-style: none;
    font-family: inherit;
    position: absolute;
    top: 10px;
    z-index: 15;
    right: 30px;
    cursor: pointer;
}

.links {
    color: antiquewhite;
    padding-top: 7px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 7px;
    font-family: sans-serif;
    float: right;
}

.links:hover {
    background-color: #d88f8f
}

a {
    text-decoration: none
}

.a1:hover[color:#c0bae2;
]
